# compiled output
/dist
/tmp
/out-tsc
/bazel-out

# dependencies
/node_modules

# IDEs and editors
.idea/
.project
.classpath
.cproject
.settings/
.vscode/
*.sublime-workspace

# Angular CLI cache
/.angular

# Operating System
.DS_Store
Thumbs.db
